@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --white: #fff8f0;
    --black: #0b090a;
    --primary: #ff6b6b;
    --primary-hover: #ffa69e;
}

body{
    font-family: "Nunito", sans-serif;
    background-color: var(--white);
}

.btn-custom {
    background-color: var(--primary); 
    border-color: var(--primary); 
    color: var(--black);

    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--primary-hover);
        border-color: var(--primary-hover);
    }
}

.left-box img {
    max-width: 100%; 
    height: auto; 
}

.left-box, .right-box {
    flex: 1; 

.left-box {
    padding: 15px; 
}

.box-area {
    max-width: 800px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.form-section {
    width: 100%;
    padding: 10px 0;
}

.input-group {
    margin-bottom: 15px; 
}

@media screen and (max-width: 768px) {
    .box-area {
        width: 80%;
        flex-direction: column; 
    }

    .left-box {
        margin-bottom: 20px;
    }
}


.input-group {
    margin-bottom: 20px; 

.form-section p {
    margin-bottom: 10px; 
}

.forgot, .register-link {
    margin-top: 10px;
}

button {
    margin-top: 15px; 
}

