:root {
    --primary: #ff6b6b;
    --primary-hover: #ffa69e;
    --black: #0b090a;
}

body {
    font-family: 'Nunito', sans-serif;
}

button {
    background-color: var(--primary);
    color: var(--black);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-hover);
}

img {
    max-width: 100%;
    height: auto;
}
